<?xml version="1.0" encoding="utf-8"?><!--
  ~  Copyright (C) Stichting Akvo (Akvo Foundation)
  ~
  ~  This file is part of Akvo Caddisfly
  ~
  ~  Akvo Caddisfly is free software: you can redistribute it and modify it under the terms of
  ~  the GNU Affero General Public License (AGPL) as published by the Free Software Foundation,
  ~  either version 3 of the License or any later version.
  ~
  ~  Akvo Caddisfly is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~  See the GNU Affero General Public License included below for more details.
  ~
  ~  The full license text can also be seen at <http://www.gnu.org/licenses/agpl.html>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.akvo.caddisfly">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.CaddisflyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:logo="@drawable/ic_actionbar_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/appName"
            android:screenOrientation="nosensor"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.akvo.flow.action.externalsource" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".ui.SettingsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.SensorActivity"
            android:label="@string/appName"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.UsbConnectionActivity"
            android:label="@string/appName"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".ui.ColorimetricLiquidActivity"
            android:label="@string/calibrate"
            android:parentActivityName=".ui.CalibrateListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.CalibrateListActivity"
            android:label="@string/calibrate"
            android:parentActivityName=".ui.TypeListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.SwatchActivity"
            android:label="@string/swatches"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.CalibrateListActivity" />
        </activity>
        <activity
            android:name=".ui.CalibrateSensorActivity"
            android:label="@string/calibrate"
            android:parentActivityName=".ui.TypeListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.ExternalCameraActivity"
            android:label="@string/appName" />
        <activity
            android:name=".ui.TypeListActivity"
            android:label="@string/calibrate"
            android:parentActivityName=".ui.SettingsActivity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>
