<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) Stichting Akvo (Akvo Foundation)
  ~
  ~ This file is part of Akvo Caddisfly
  ~
  ~ Akvo Caddisfly is free software: you can redistribute it and modify it under the terms of
  ~ the GNU Affero General Public License (AGPL) as published by the Free Software Foundation,
  ~ either version 3 of the License or any later version.
  ~
  ~ Akvo Caddisfly is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License included below for more details.
  ~
  ~ The full license text can also be seen at <http://www.gnu.org/licenses/agpl.html>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.akvo.caddisfly">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application
        android:name=".app.CaddisflyApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Orange"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/appName"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.Orange.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ExternalActionActivity">
            <intent-filter>
                <action android:name="org.akvo.flow.action.externalsource" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preference.SettingsActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.AboutActivity"
            android:noHistory="true"
            android:parentActivityName=".preference.SettingsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".sensor.ec.SensorActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".sensor.colorimetry.liquid.ColorimetryLiquidActivity"
            android:parentActivityName=".sensor.colorimetry.liquid.CalibrateListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".sensor.colorimetry.liquid.CalibrateListActivity"
            android:parentActivityName=".ui.TypeListActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".sensor.colorimetry.liquid.DiagnosticSwatchActivity"
            android:parentActivityName=".sensor.colorimetry.liquid.CalibrateListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".sensor.ec.CalibrateSensorActivity"
            android:parentActivityName=".ui.TypeListActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".sensor.colorimetry.liquid.SelectDilutionActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".sensor.colorimetry.liquid.AlignmentActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.TypeListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".sensor.colorimetry.strip.ColorimetryStripActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".sensor.UsbConnectionActivity"
            android:autoRemoveFromRecents="true"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <service
            android:name=".sensor.ec.UsbService"
            android:enabled="true" />

        <service android:name=".helper.UpdateIntentService" />

    </application>

</manifest>
