<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) Stichting Akvo (Akvo Foundation)
  ~
  ~ This file is part of Akvo Caddisfly.
  ~
  ~ Akvo Caddisfly is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Akvo Caddisfly is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Akvo Caddisfly. If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.akvo.caddisfly">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application
        android:name=".app.CaddisflyApp"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Main"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".ui.MainActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="@string/appName"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TestActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="org.akvo.flow.action.caddisfly" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TestListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".preference.SettingsActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.AboutActivity"
            android:parentActivityName=".preference.SettingsActivity"
            android:screenOrientation="nosensor" />

        <!-- CBT -->
        <activity
            android:name=".sensor.cbt.CbtActivity"
            android:screenOrientation="nosensor" />
        <!-- /CBT -->

        <!-- Manual Test -->
        <activity
            android:name=".sensor.manual.ManualTestActivity"
            android:screenOrientation="nosensor" />
        <!-- /Manual Tests -->

        <!-- Manual Swatch Select Test -->
        <activity
            android:name=".sensor.manual.SwatchSelectTestActivity"
            android:screenOrientation="nosensor" />
        <!-- /Manual Swatch Select Test -->

        <!-- USB Sensor -->
        <activity
            android:name=".sensor.usb.SensorActivity"
            android:screenOrientation="nosensor" />
        <!-- /USB Sensor -->

        <!-- StripTest -->
        <activity
            android:name=".sensor.striptest.ui.StripMeasureActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".sensor.striptest.ui.ResultActivity"
            android:screenOrientation="nosensor" />
        <!-- /StripTest -->

        <!-- Bluetooth -->
        <activity
            android:name=".sensor.bluetooth.DeviceControlActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".sensor.bluetooth.DeviceScanActivity"
            android:screenOrientation="nosensor" />

        <service
            android:name=".sensor.bluetooth.BluetoothLeService"
            android:enabled="true" />
        <!-- /Bluetooth -->

        <!-- USB -->
        <activity
            android:name=".sensor.UsbConnectionActivity"
            android:autoRemoveFromRecents="true"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <service
            android:name=".usb.UsbService"
            android:enabled="true" />
        <!-- /USB -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.akvo.caddisfly.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--Disable Firebase advertising id-->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
    </application>
</manifest>