//add this with correct information into your /app/gradle.properties file
RELEASE_STORE_FILE=/path/to/keystore
RELEASE_STORE_PASSWORD=*******
RELEASE_KEY_ALIAS=********
RELEASE_KEY_PASSWORD=********
CADDISFLY_SENTRY_DSN=****